@inject IJSRuntime JSRuntime


<div class="modal fade" id="settingModal" tabindex="-1" aria-labelledby="settingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header just-bg-darkpurple">
                <h1 class="modal-title fs-5" id="settingModalLabel">@(Language.Setting)</h1>
                <button type="button" class="btn text-white m-right-auto" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between mb-3">
                    <div class="f-size20">
                        @(Language.WeeksStartDay)
                        <i class="fa fa-info margin-l-5 my-txt-darkpurple" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#StartDayChangeGuid"></i>
                    </div>
                    <div>
                        <button class="btn my-bg-darkpurple btn-sm dropdown-toggle meal-dropdown-btn mb-2 height-52 text-nowrap" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="mx-1 f-size20">@(WeeksList.Count > 0 ? WeeksList[0].WeeksStartDay.Title : Language.ChooseDay)</span>
                        </button>
                        <ul class="dropdown-menu">
                            @if(WeeksList.Count > 0)
                            {
                                @foreach (var day in WeeksList[0].GetDays())
                                {
                                    if(day.TitleEn == CurrentTime.DayOfWeek.ToString() || day.TitleEn == CurrentTime.AddDays(1).DayOfWeek.ToString())
                                    {
                                        <li><a class="dropdown-item d-flex justify-content-start f-size20" @onclick="() => passingDay(day)">@(day.Title)</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="mb-1">
                        <div class=" f-size20 mb-1 padding-l-40">@(Language.LanguageMean)</div>
                    </div>
                    <div class="mb-1">
                        <button class="btn my-bg-darkpurple btn-sm height-52 mb-2 text-nowrap" type="button" @onclick="OnChangeLanguage">
                            <span class="mx-1 f-size20">@(Language.SelectedLang == Language.Persian ? Language.English : Language.Persian)</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="f-size20">@(Models.IsForNextWeek ? Language.NextWeek : Language.CurrentWeek)</div>
                    <div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" @bind-value="Models.IsForNextWeek" type="checkbox" role="switch" id="isNextWeek">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="mb-1">
                        <div class=" f-size20 mb-1 padding-l-40">@(Language.GroceryListShare)</div>
                    </div>
                    <div class="mb-1">
                        <button class="btn my-bg-darkpurple btn-sm height-52 mb-2 text-nowrap" type="button" @onclick="OnShareGroceries" data-bs-toggle="modal" data-bs-target="#GeroceriesShareModal">
                            <span class="mx-1 f-size20">@(Language.Share)</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="mb-1">
                        <div class=" f-size20 mb-1 padding-l-40">@(Language.WeekShare)</div>
                    </div>
                    <div class="mb-1">
                        <button class="btn my-bg-darkpurple btn-sm height-52 mb-2 text-nowrap" type="button" @onclick="OnShareWeek" data-bs-dismiss="modal">
                            <span class="mx-1 f-size20">@(Language.Share)</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-between  mb-3">
                    <div class="mb-1">
                        <div class=" f-size20 mb-1 padding-l-40">@(Language.WeekInsert)</div>
                    </div>
                    <div class="mb-1">
                        <button class="btn my-bg-darkpurple height-52 btn-sm mb-2 text-nowrap" type="button" data-bs-toggle="modal" data-bs-target="#WeekInserModal">
                            <span class="mx-1 f-size20">@(Language.Insert)</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="mb-1">
                        <div class=" f-size20 mb-1 padding-l-40">@(Language.FoodListShare)</div>
                    </div>
                    <div class="mb-1">
                        <button class="btn my-bg-darkpurple btn-sm height-52 mb-2 text-nowrap" type="button" @onclick="OnShareFoodList" data-bs-dismiss="modal">
                            <span class="mx-1 f-size20">@(Language.Share)</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-between  mb-3">
                    <div class="mb-1">
                        <div class=" f-size20 mb-1 padding-l-40">@(Language.FoodListInsert)</div>
                    </div>
                    <div class="mb-1">
                        <button class="btn my-bg-darkpurple height-52 btn-sm mb-2 text-nowrap" type="button" data-bs-toggle="modal" data-bs-target="#FoodListInserModal">
                            <span class="mx-1 f-size20">@(Language.Insert)</span>
                        </button>
                    </div>
                </div>
                <div class=" mb-3">
                    <div class="d-flex justify-content-between mb-1">
                        <div class=" f-size20 mb-1 padding-l-40">@(Language.WeeksClear)</div>
                        <button class="btn my-bg-darkpurple height-52 btn-sm mb-2 text-nowrap" type="button" @onclick="OnClearWeeks" data-bs-dismiss="modal">
                            <span class="mx-1 f-size20">@(Language.Clear)</span>
                        </button>
                    </div>
                </div>
                <div class=" mb-3">
                    <div class="d-flex justify-content-between mb-1">
                        <div class=" f-size20 mb-1 padding-l-40">@(Language.FoodsClear)</div>
                        <button class="btn my-bg-darkpurple btn-sm height-52 mb-2 text-nowrap" type="button" @onclick="OnClearFoods" data-bs-dismiss="modal">
                            <span class="mx-1 f-size20">@(Language.Clear)</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Groceries Share Modal -->
<ShareModal Id="GeroceriesShareModal" Language="Language">
    <Body>
        @if (GroceriesList.Count > 0)
        {
            @foreach (var groc in GroceriesList)
            {
                <div>
                    @($"{groc.Name} ({groc.Amount})")
                </div>
            }
        }
    </Body>
</ShareModal>


<!-- Week Insert Modal -->
<InsertModal Id="WeekInserModal" Models="Models" Value="@(Models.InsertedWeek)" PlaceHolder="@(Language.WeekInsertPlaceHolder)" Language="Language" OnInsertMethod="OnWeekInserted" />

<!-- FoodList Insert Modal -->
<InsertModal Id="FoodListInserModal" Models="Models" Value="@(Models.InsertedFoodList)" PlaceHolder="@(Language.FoodListInsertPlaceHolder)" Language="Language" OnInsertMethod="OnFoodListInserted" />





@code {

    [Parameter, EditorRequired]
    public Language Language { get; set; }

    [Parameter]
    public List<FoodCategory> FoodList { get; set; }

    [Parameter]
    public List<Week> WeeksList { get; set; }

    [Parameter]
    public Models Models { get; set; }

    [Parameter]
    public EventCallback<Models> OnModelsChangeModals { get; set; }

    public DateTime CurrentTime { get; set; }

    public List<Grocery> GroceriesList { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        GroceriesList = new List<Grocery>();

        CurrentTime = DateTime.Now;
    }

    public async Task passingDay(Day day)
    {
        Models.StartDay = new StartDay()
        {
            Title = day.Title,
            TitleFa = day.TitleFa,
            TitleEn = day.TitleEn,
            IsStartDayChanged = true,
        };
        Models.IsActionNeeded = true;

        await OnModelsChangeSettingsModal();
    }

    public async Task OnChangeLanguage()
    {
        Models.IsForChangeLanguage = true;
        Models.IsActionNeeded = true;

        await OnModelsChangeSettingsModal();
    }

    public async Task OnShareGroceries()
    {
        GroceriesList = new List<Grocery>();
        string week = Models.IsForNextWeek ? Language.NextWeek : Language.CurrentWeek;

        foreach (var day in WeeksList.FirstOrDefault(w => w.Title == week).GetDays())
        {
            foreach (var meal in day.GetMeals())
            {
                if (meal.Groceries != null)
                {
                    GroceriesList.AddRange(meal.Groceries);
                }
            }
        }
    }

    public async Task OnShareWeek()
    {
        string selectedWeek = Models.IsForNextWeek ? Language.NextWeek : Language.CurrentWeek;

        var week = WeeksList.FirstOrDefault(w => w.Title == selectedWeek); 

        if(week != null)
        {
            foreach (var day in week.GetDays())
            {
                day.IsDayPassed = false;
                day.IsDayBlank = false;
                day.IsDayCollapsed = false;
                day.IsCreateBtnNeeded = false;

                foreach (var meal in day.GetMeals())
                {
                    meal.IsMealCollapsed = false;
                    meal.IsMealPassed = false;
                }
            }

            var WeekString = Newtonsoft.Json.JsonConvert.SerializeObject(week);
            await JSRuntime.InvokeVoidAsync("onCopyFromString", WeekString);

        }

    }

    public async Task OnShareFoodList()
    {

        var foodList = new List<FoodCategory>();

        foreach (var cat in FoodList)
        {
            foodList.Add(new FoodCategory()
            {
                Title = cat.Title,
                foods = new List<Food>(),

            });

            var catfoods = foodList.FirstOrDefault(c => c.Title == cat.Title).foods;

            foreach (var food in cat.foods)
            {
                catfoods.Add(new Food(food.Name));
            }
        }

        var foodListString = Newtonsoft.Json.JsonConvert.SerializeObject(foodList);
        await JSRuntime.InvokeVoidAsync("onCopyFromString", foodListString);

    }

    public async Task OnWeekInserted(string value)
    {
        Models.InsertedWeek = value;
        Models.IsActionNeeded = true;

        await OnModelsChangeSettingsModal();
    }

    public async Task OnFoodListInserted(string value)
    {
        Models.InsertedFoodList = value;
        Models.IsActionNeeded = true;

        await OnModelsChangeSettingsModal();
    }

    public async Task OnClearWeeks()
    {
        Models.IsForWeeksClear = true;
        Models.IsActionNeeded = true;

        await OnModelsChangeSettingsModal();
    }

    public async Task OnClearFoods()
    {
        Models.IsForFoodsClear = true;
        Models.IsActionNeeded = true;

        await OnModelsChangeSettingsModal();
    }

    public async Task OnModelsChangeSettingsModal(Models models = null)
    {
        if (models != null)
            Models = models;
        await OnModelsChangeModals.InvokeAsync(Models);
    }
}
