

<div class="card">
    @if (Meal.IsMealPassed)
    {
        <div class="meal-passed opacity-bg-@(Week.Color) f-size20">
            <div style="opacity: 1;">
                <button class="btn my-bg-@(Week.Color) btn-sm meal-collapse-btn" data-bs-toggle="collapse" @onclick="() =>  OnCollapseMeal()" href="#@($"{Week.Id}{Day.Id}{Meal.Id}")" aria-expanded="true" aria-controls="@($"{Week.Id}{Day.Id}{Meal.Id}")">
                    <i class="fa fa-chevron-@(Meal.IsMealCollapsed ? "left" : "down")" aria-hidden="true"></i>
                </button>
                @if(!Meal.IsMealCollapsed)
                {
                    <div class="bottom-40">
                        <label for="isEatenRecently" class="form-check-label f-size20">@(PersianPhrases.DidYouEatIt)</label>
                        <input id="isEatenRecently" type="checkbox" class="form-check-input" @bind-value="@(Meal.Food.IsEatenRecently)" @onclick="() => OnFoodEated()" checked="@(Meal.Food.IsEatenRecently)" />
                    </div>
                    @if (Meal.Food.IsEatenRecently)
                    {
                        <div class="bottom-8">
                            <i class="fa fa-info margin-l-5 my-txt-blue" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#FoodSectionRefresh"></i>
                            <span class="f-size18">@(PersianPhrases.FoodWillEarase)</span>
                        </div>
                    }
                }
            </div>
        </div>
    }
    <div class="card-img-top bg-light days-img-top rounded border-0 d-flex justify-content-between">
        <span class="f-size36 meal-title" data-bs-toggle="collapse" @onclick="() =>  OnCollapseMeal()" href="#@($"{Week.Id}{Day.Id}{Meal.Id}")" aria-expanded="true" aria-controls="@($"{Week.Id}{Day.Id}{Meal.Id}")">
            @(Meal.Title)
            <i class="fa fa-chevron-@(Meal.IsMealCollapsed ? "left" : "down") @(Meal.IsMealPassed ? "d-none" : string.Empty)" aria-hidden="true"></i>
        </span>
        @if (!Meal.IsMealPassed)
        {
            <button class="btn my-bg-@(Week.Color) btn-sm meal-del-btn" @onclick="() =>  passingData(false, Meal)" data-bs-toggle="modal" data-bs-target="#DelConfirmMealModal">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>            
        }
    </div>
    <div id="@($"{Week.Id}{Day.Id}{Meal.Id}")" class="collapse @(!Meal.IsMealCollapsed ? "show" : "")">
        <div class="card-body bg-light padding-t-5 @(Meal.IsMealPassed? "opacity-06" : "")">
            <div class="row mx-auto">
                <div class="col padding-x-0 @(Meal.IsMealPassed ? "padding-b-40" : "")">
                    <button class="btn btn-sm my-bg-@(Week.Color)-outline m-auto width-98 bootstrap-buttons food-name f-size24 "
                            @onclick="() => passingData(false, Meal)"
                            data-bs-toggle="modal" data-bs-target="#addEditMealModal">
                        @(Meal.Food.Name)
                    </button>
                </div>
                @if(!Meal.IsMealPassed)
                {
                    <div class="col-2 padding-x-0">
                        <button class="btn btn-sm my-bg-@(Week.Color)-outline text-white m-auto width-98 grocery-btn"
                                @onclick="() => OnEditGeroceries()">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </button>
                    </div>                    
                }


                @if (Meal.GroceryEditable)
                {
                    if (!IsDataPassed)
                    {
                        passingData(false, Meal);
                        IsDataPassed = true;
                    }

                    <div class="col-12 mt-3 padding-x-0">
                        <AddGrocery GroceryModel="Models.GroceryModel" IsSubmitNeeded="true" CurrentColor="@(Week.Color)" ValueChangedEventHandler="OnNewGroceryAdded" GroceryEditableHandler="GroceryEditableHandler" />
                    </div>
                }


                <div class="col-12 f-size18 padding-x-0 pt-3">
                    @if (Meal.Groceries != null && !Meal.IsMealPassed)
                    {
                        <GroceriesList MealModel="Meal" OnWeeksListChangeGeroceriesList="OnWeeksListChangeMeals" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>






@code {

    [Parameter]
    public Models Models { get; set; }

    [Parameter]
    public Meal Meal { get; set; }

    [Parameter]
    public Day Day { get; set; }

    [Parameter]
    public Week Week { get; set; }

    [Parameter]
    public EventCallback<Models> OnModelsChangeDays { get; set; }

    [Parameter]
    public EventCallback OnWeeksListChangeDays { get; set; }

    private PersianPhrases PersianPhrases = new PersianPhrases();

    private Timer GroceryTimer { set; get; }

    public bool IsDataPassed { get; set; }

    public DateTime CurrentTime { get; set; }



    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        GroceryTimer = new Timer(async _ =>
        {
            return;
        },null , 0 , 0);

        CurrentTime = DateTime.Now;

    } 


    public async Task passingData(bool isAddMeal, Meal? meal = null)
    {
        Models.WeekId = Week.Id;
        Models.DayModel = new Day()
        {
            Id = Day.Id,
            Title = Day.Title,    
            color = Week.Color,    
        };
        Models.IsForAddMeal = isAddMeal;

        if (Models.IsForAddMeal)
        {
            Models.MealModel = new Meal()
            {
                Id = meal.Id,
            };
            Models.GroceryModel = new Grocery();
        }
        else
        {
            Models.MealModel = new Meal()
            {
                Id = meal.Id,
                Title = meal.Title,
                Food = new Food(meal.Food.Name),
                Groceries = meal.Groceries != null ? new List<Grocery>(meal.Groceries) : null,
            };
        }

        await OnModelsChangeMeals();
    }

    private async Task OnCollapseMeal()
    {
        Meal.IsMealCollapsed = !Meal.IsMealCollapsed;

        await OnWeeksListChangeMeals();
    }

    private void OnEditGeroceries()
    {
        GroceryEditableHandler();
        Meal.GroceryEditable = !Meal.GroceryEditable;
        IsDataPassed = !Meal.GroceryEditable;
    }

    private void GroceryEditableHandler()
    {
        GroceryTimer.Dispose();
        GroceryTimer = new System.Threading.Timer(async _ =>
        {
            Meal.GroceryEditable = false;
            await InvokeAsync(StateHasChanged);
            await OnWeeksListChangeMeals();

        }, null, 20000, 0);
    }


    public async Task OnNewGroceryAdded(bool isSubmitNeeded = false)
    {
        if (Models.MealModel.Groceries == null)
            Models.MealModel.Groceries = new List<Grocery>();

        Models.MealModel.Groceries.Add(Models.GroceryModel);
        Models.GroceryModel = new Grocery();

        await OnModelsChangeMeals();

        if (isSubmitNeeded)
        {
            OnNewGrocerySubmitet();
        }
    }

    public async Task OnNewGrocerySubmitet()
    {
        if (Models.MealModel.Groceries != null)
        {
            Meal.Groceries = Models.MealModel.Groceries;
            await OnWeeksListChangeMeals();
        }

    }

    public async Task OnFoodEated() 
    {
        Meal.Food.IsEatenRecently = !Meal.Food.IsEatenRecently;

        Models.FoodModel = new Food()
        {
            Name = Meal.Food.Name,
            Id = Meal.Food.Id,
            CategoryId = Meal.Food.CategoryId,
            IsEatenRecently = Meal.Food.IsEatenRecently,
        };

        Models.IsFoodEatenChanged = true;

        await OnModelsChangeMeals();
        await OnWeeksListChangeMeals();

    }

    public async Task OnModelsChangeMeals()
    {
        await OnModelsChangeDays.InvokeAsync(Models);
    }

    public async Task OnWeeksListChangeMeals()
    {
        await OnWeeksListChangeDays.InvokeAsync();
    }

}
