<!-- ADD/Edit meal Modal -->
<AddEditMealModal FoodList="FoodList" WeeksListIterable="WeeksListIterable" Models="Models" OnModelsChangeModals="OnModelsChangeModals" OnWeeksListChangeModals="OnWeeksListChangeModals" />

<!-- MealDeleteConfirmation Modal -->
<ConfirmationModal Id="DelConfirmMealModal" Title="@(PersianPhrases.WarningByMark)" Color="@(Models.DayModel.color)" ValueChangedEventHandler="OnDeleteMeal">
    <Body>
        <span>
            @(PersianPhrases.SureDeleteMeal(Models.MealModel.Food.Name, Models.MealModel.Title))
        </span>
    </Body>
</ConfirmationModal>

<!-- CategoryDeleteConfirmation Modal -->
<ConfirmationModal Id="DelConfirmCategoryModal" Title="@(PersianPhrases.WarningByMark)" Color="blue" ValueChangedEventHandler="OnDeleteCategory">
    <Body>
        <span>@(PersianPhrases.SureDelete(PersianPhrases.Category, Models.CategoryModel.Title))</span>

    </Body>
</ConfirmationModal>

<!-- ADD/Edit Food -->
<AddEditModal Id="addEditFoodModal" Entity="@(PersianPhrases.Food)" IsForAdd="true" IsForAddMeal="true" Model="Models.FoodModel" ValueChangedEventHandler="OnNewFoodSubmited">
    <Body>
        <label for="foodname" class="form-label">@(PersianPhrases.Name)</label>
        <InputText id="foodname" class="form-control" @bind-Value=(Models.FoodModel.Name) />
    </Body>
</AddEditModal>

<!-- ADD/Edit Category -->
<AddEditModal Id="addEditCategoryModal" Entity="@(PersianPhrases.Category)" IsForAdd="Models.IsForAddCat" Model="Models.CategoryModel" ValueChangedEventHandler="OnNewCategorySubmited">
    <Body>
        <label for="categoryname" class="form-label">@(PersianPhrases.Name)</label>
        <InputText id="categoryname" class="form-control" @bind-Value=(Models.CategoryModel.Title) />
    </Body>
</AddEditModal>




@code {

    [Parameter]
    public IEnumerable<Week> WeeksListIterable { get; set; }

    [Parameter]
    public List<FoodCategory> FoodList { get; set; }

    [Parameter]
    public Models Models { get; set; }

    [Parameter]
    public EventCallback<Models> OnModelsChange { get; set; }

    [Parameter]
    public EventCallback<IEnumerable<Week>> OnWeeksListChange { get; set; }

    [Parameter]
    public EventCallback<List<FoodCategory>> OnFoodListChange { get; set; }

    private PersianPhrases PersianPhrases = new PersianPhrases();


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


    public async Task OnDeleteMeal(bool value)
    {
        if (value)
        {
            var meal = WeeksListIterable.FirstOrDefault(w => w.Id == Models.WeekId).GetDays().FirstOrDefault(d => d.Title == Models.DayModel.Title).GetMeals().FirstOrDefault(m => m.Id == Models.MealModel.Id);
            meal.Food = new Food();
            meal.Groceries = new List<Grocery>();

            await OnWeeksListChangeModals();
        }
    }


    public async Task OnDeleteCategory(bool value)
    {
        if (value)
        {
            var category = FoodList.FirstOrDefault(c => c.Title == Models.CategoryModel.Title);

            FoodList.Remove(category);

            Models.CategoryModel = new FoodCategory();

            OnFoodListChangeModals();
        }
    }

    public async Task OnNewFoodSubmited()
    {
        var category = FoodList.FirstOrDefault(c => c.Title == Models.CategoryModel.Title);
        category.foods.Add(Models.FoodModel);

        Models.FoodModel = new Food();

        OnFoodListChangeModals();
    }

    public async Task OnNewCategorySubmited()
    {
        if (Models.IsForAddCat)
        {
            FoodList.Add(new FoodCategory()
            {
                Title = Models.CategoryModel.Title,
            });

        }
        else
        {
            var category = FoodList.FirstOrDefault(c => c.Id == Models.CategoryModel.Id);
            category.Title = Models.CategoryModel.Title;
        }
        Models.CategoryModel = new FoodCategory();

        OnFoodListChangeModals();
    }

    public async Task OnModelsChangeModals(Models models = null)
    {
        if(models != null)
            Models = models;
        await OnModelsChange.InvokeAsync(Models);
    }

    public async Task OnWeeksListChangeModals(IEnumerable<Week> WeeksList = null)
    {
        if (WeeksList != null)
            WeeksListIterable = WeeksList;
        await OnWeeksListChange.InvokeAsync(WeeksListIterable);
    }

    public async Task OnFoodListChangeModals(List<FoodCategory> foodList = null)
    {
        if (foodList != null)
            FoodList = foodList;
        await OnFoodListChange.InvokeAsync(FoodList);
    }
}
